.aspectWrapper {
	width: 100vw;
	height: 100vh;
	background: #303538;
	text-align: center;
}

.pageRoot {
	display: inline-block;
	margin: 0 auto;
	height: 100%;
	aspect-ratio: 13 / 9;
	display: flex;
	flex-direction: row;
}

.navBar {
	flex: calc(3 / 13);
	z-index: 1;
}

.systemSection {
	flex: calc(10 / 13);
	margin-left: 10%;
	margin-right: 10%;
	display: flex;
	flex-direction: column;
	overflow: hidden;
	z-index: 0;
}

.crtBox {
	flex: calc(6 / 9);
	position: relative;
	text-align: center;
}

.consoleSection {
	flex: calc(3 / 9);
	display: flex;
	flex-direction: row;
}

.consoleBox {
	flex: 0.75
}

.controllerBox {
	flex: 0.25;
}
